@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-spink: var(--spink);
  --color-lpink: var(--lpink);
  --color-nude: var(--nude);
  --color-sbrown: var(--sbrown);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --spink: oklch(0.62 0.2303 2.48);
  --lpink: oklch(94.32% 0.028 358.02);
  --nude: oklch(97.11% 0.014 50.81);
  --sbrown: oklch(54.92% 0.021 48.32);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-stone-700/80 tracking-wide;
  }
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  @apply px-2 md:px-10
}

.josefin {
  font-family: "Josefin Sans", sans-serif !important;
  @apply tracking-wide
}

Button {
  @apply cursor-pointer;
}

@keyframes x-bounce {
  0%, 100% {
    transform: translateX(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.see-more-button {
  @apply hover:bg-transparent !p-0 hover:text-spink rounded-none text-spink font-semibold text-lg tracking-wide flex items-center gap-1;
  transition: all 0.3s ease;
}

.see-more-button:hover {
  animation: x-bounce 1s infinite;
}

.see-more-button:not(:hover) {
  animation: none;
  transition: all 0.3s ease;
}

/* header */
.header-button {
  @apply hover:bg-transparent uppercase hover:underline underline-offset-8;
}

.top-title {
  font-family: "Josefin Sans", sans-serif !important;
  @apply tracking-wide uppercase text-5xl sm:text-7xl font-extrabold text-spink;
}

.lucide.lucide-x {
  @apply text-spink size-5
}

.header-project-button {
  @apply  uppercase;
}

/* homepage */
.home-title {
  font-family: "Josefin Sans", sans-serif !important;
  @apply tracking-wider text-2xl font-semibold uppercase text-spink;
}

.custom-shadow:hover {
  box-shadow: 1px 20px 20px -8px rgba(0,0,0,0.3);
}

.home-skill-container {
  background-image: url("./assets/cake-pattern.png");
  @apply bg-lpink;
}

.skill-part .title {
  @apply p-4 border-b border-spink/50 font-bold text-spink tracking-wide;
}

.skill-part .combo {
  @apply gap-0 rounded-xl overflow-hidden
}

#about-me-page .skill-part .combo {
  @apply gap-0 rounded-xl overflow-hidden border 
}

.skill-part .tab-list {
  @apply grid grid-flow-col grid-rows-5 gap-0 grid-cols-1 h-fit
  lg:grid-flow-row lg:grid-cols-5 lg:gap-2 lg:grid-rows-1 lg:h-56
  w-full p-0 bg-transparent -mb-[1px];
}

#about-me-page .skill-part .tab-list {
  @apply grid grid-flow-col grid-rows-5 gap-0 grid-cols-1 h-fit
  lg:grid-flow-row lg:grid-cols-5 lg:grid-rows-1 lg:h-56
  w-full p-0 bg-transparent -mb-[1px];
}

.skill-part .tabs-trigger {
  @apply p-4 flex lg:flex-col items-center justify-start lg:justify-center gap-4 lg:gap-3 relative cursor-pointer lg:rounded-t-xl rounded-b-none rounded-t-none
  border-none text-stone-600/90 shadow-none bg-zinc-50 lg:mt-16 hover:bg-white
  data-[state=active]:text-spink data-[state=active]:bg-white data-[state=active]:lg:mt-0;
}

#about-me-page .tabs-trigger {
  @apply p-4 flex lg:flex-col items-center justify-start lg:justify-center gap-4 lg:gap-3 relative cursor-pointer rounded-none
  border-none border-transparent text-stone-600/90 shadow-none bg-zinc-50 mt-0 hover:bg-white
  data-[state=active]:text-spink data-[state=active]:bg-white;
}

.skill-part .tabs-trigger span {
  @apply font-bold tracking-wide text-xl
}

.skill-part .tabs-content {
  @apply p-8 md:p-12 bg-white rounded-b-lg space-y-8 md:space-y-10 z-10 overflow-hidden
}

.skill-part .icon-container {
  @apply size-8 lg:size-20 bg-lpink/40 rounded-full flex justify-center items-center
  group-hover:animate-bounce
  group-data-[state=active]:bg-spink group-data-[state=active]:text-white;
}

.skill-part .tab-list .icon {
  @apply size-5 lg:size-10;
}

.skill-part .skill-col {
  @apply space-y-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6;
}

#design-carousel .arrow-button {
  @apply h-10 w-10 rounded-full
}

#design-carousel .arrow-disabled-state {
  @apply text-gray-300 border-gray-300 cursor-not-allowed
}

#design-carousel .arrow-active-state {
  @apply text-spink hover:text-spink border-spink hover:bg-nude;
}

.lightbox-container {
  @apply fixed inset-0 z-50 bg-black/80 flex items-center justify-center;
}

.lightbox {
  @apply relative md:max-w-4xl max-h-[90vh] w-full p-4
}

.lightbox .close-button {
  @apply absolute -top-8 right-4 z-10 text-white hover:bg-black/20 rounded-full hover:text-white
}

.lightbox .zoom-image {
  @apply w-full h-auto max-h-[85vh] max-w-full object-contain;
}

.lightbox .arrow-button {
  @apply absolute transform -translate-y-1/2 rounded-full bg-white;
}

#about-me .check-button {
  @apply  h-10 uppercase bg-spink hover:bg-spink/90 text-white text-base font-normal
}

#about-me .see-button {
  @apply  h-10 uppercase bg-transparent border-spink hover:bg-white/50 !text-spink rounded-md text-base font-normal;
}

#media-carousel .arrow-button {
  @apply h-10 w-10 rounded-full
}

#media-carousel .arrow-disabled-state {
  @apply text-gray-300 border-gray-300 cursor-not-allowed
}

#media-carousel .arrow-active-state {
  @apply text-spink hover:text-spink border-spink hover:bg-nude;
}

/* projects */
#page-project-card .project-card-title {
  font-family: "Josefin Sans", sans-serif !important;
  @apply font-extrabold text-xl/10 uppercase underline underline-offset-8;
}

.project-container {
  @apply container mx-auto px-8 lg:px-20 pb-26 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-6
}

.projects-tabs-list {
  @apply pb-16 bg-transparent mx-auto gap-2 h-fit
}

.projects-tabs-trigger {
  @apply border border-spink text-spink hover:bg-nude/50
  data-[state=active]:text-white data-[state=active]:bg-spink w-26 h-9;
}

.portfolio-title {
  @apply text-5xl lg:text-6xl font-bold;
}

.portfolio-p {
  @apply text-xl lg:text-2xl;
}

.bg-unionfaith {
  background-image: url("./assets/portfolio/unionfaith/star.png");
  @apply bg-[#295254];
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.project-section-title {
  @apply font-bold text-3xl sm:text-4xl;
}

.project-section-subtitle {
  @apply uppercase tracking-wider text-sm font-medium text-gray-500 mb-2;
}

/* about me page */
#about-me-page .section-title {
  @apply text-2xl font-bold uppercase;
}

#about-me-page .about-section {
  @apply border rounded-lg ;
}

.work-sub-title {
  font-family: "Josefin Sans", sans-serif !important;
  @apply text-xl font-bold text-spink;
}

.company-info {
  @apply text-base mb-1;
}

.company {
  @apply font-medium;
}

.time-info {
  @apply text-gray-400;
}

.skills {
  @apply mt-2
}

/* contact */
.contact-container {
  @apply container mx-auto flex flex-col justify-center min-h-screen w-full
}

.contact-inner-container {
  @apply text-black/80 block xl:grid grid-cols-2 items-center gap-0 
  xl:overflow-hidden w-full;
}

.contact-title {
  font-family: "Josefin Sans", sans-serif !important;
  @apply tracking-wide text-3xl xl:text-5xl uppercase font-extrabold text-center;
}

.contact-input {
  @apply border-2 border-stone-700/30 rounded-md focus-visible:border-stone-700/80
  focus-visible:ring-lpink outline-none shadow-none h-12
}

.contact-textarea {
  @apply border-2 border-stone-700/30 rounded-md focus-visible:border-stone-700/80
  focus-visible:ring-lpink outline-none shadow-none h-36 overflow-y-auto
}

.submit-button {
  @apply bg-spink text-white rounded-md w-full h-12 uppercase 
  hover:bg-spink/80;
}

.my-toaster-container {
  font-family: "Lato", sans-serif;
}